page-recipe-detail {
  .recipe-transition {
    background: linear-gradient(to right, color($colors, coffee) 50%, color($colors, coffee_light) 50%);
    background-size: 205% 100%;
    background-position: 99% 0%;
    transition: all 10s linear;
    padding-bottom:15px;
    padding-left:10px;
  }
  .recipe-transitionAnimate {
    outline: none;
    background-position: 0% 100%;
    color: #000;

  }
  .item {
    background: linear-gradient(to right,  color($colors, coffee) 50%, color($colors, coffee_light) 50%);
    background-size: 205% 100%;
    background-position: 99% 0%;
    background-color: #E3E2CA;

  }
  .col-end {
    background-color:  color($colors, coffee);
    text-align: center;
  }
  .category-marker {
    position: absolute;
    height: 100%;
    width: 7px;
    left: 0px;
    background-color:  color($colors, coffee);
  }
}
