page-recipe-detail {
  .recipe-transition {
    background: linear-gradient(to right, color($colors, coffee) 50%, color($colors, coffee_light) 50%);
    background-size: 205% 100%;
    background-position: 99% 0%;
    transition: all 10s linear;
    padding-left: 10px;
    margin-top: 15px;
    min-height: 100%;
    height: 100%;
  }
  .recipe-transitionAnimate {
    outline: none;
    background-position: 0% 100%;
    color: color($colors, coffee_light);
    min-height: 100%;
    height: 100%;
  }
  .item-md {
    padding-left: 7px;
  }
  .label-md {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100%;
    height: 100%;
  }
  .item {
    background: linear-gradient(to right, color($colors, coffee) 50%, color($colors, coffee_light) 50%);
    background-size: 205% 100%;
    background-position: 99% 0%;
    background-color: color($colors, coffee_light);
    left: 0px;
  }
  .list-md .item-block .item-inner {
    border-bottom: 0px;
  }
  .col-end {
    background-color: color($colors, coffee);
    text-align: center;
  }
  .category-marker {
    position: absolute;
    height: 100%;
    width: 7px;
    left: 0px;
    background-color: color($colors, coffee);
  }
}
