page-home {
  html,
  body,
  .scroll/* because the <ion-content> content is placed inside a div.scroll */
  {
    color: color($colors, coffee_light);
  
  }
  .row {
    padding: 0px !important;
  }
  .col-alt:nth-child(4n+2),.col-alt:nth-child(4n+3){
    background-color: color($colors, coffee_dark);
  }
  .col-alt:nth-child(4n+1), .col-alt:nth-child(4n+4) {
    background-color: color($colors, coffee);
  }
  .grid{
    padding:0;
  }
  ion-card {
    display: inline;
    justify-content: center;
    align-items: center;
    color: color($colors, coffee_light);
    cursor: pointer;
  }
  .card-title {
    padding-top: 3vh;
    color: color($colors, coffee_light);
    font-size: 2.8vh;
  }
  .col {
    height: 30vh;
    text-align: center;
    position: relative;
    top: 50%;
  }

  .swiper-pagination-bullet-active {
  background: color($colors, coffee_light);
}
}


