<ion-header>
  <ion-navbar>
    <ion-title>AeroPress Recipes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="recipeList">
    <ion-row center class="row">
      <ion-col col-6 class="col col-alt" *ngFor="let recipe of recipeList">
        <ion-card type="button" (click)="viewItem(recipe)">
          <ion-avatar><img src="{{recipe.imgUrl}}" /></ion-avatar>
          <ion-card-title text-wrap> {{ recipe.name }}</ion-card-title>
          <ion-card-content>{{ filterTime(recipe.duration) }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
